.input-widget {
    display: grid;
}

.input-field {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;

    resize: none;
    outline: none;
    padding: 8px;
    margin: 0px 8px;
    min-height: 64px;

    border: #bfc6cc solid;
    border-width: 0px 0px 2px;
    border-radius: 3.2px;
}

.input-actions {
    display: inline-block;
}

.cancel {
    color: #798c97;
    cursor: pointer;
}

.submit {
    font-size: 16px;
    color: #ffffff;
    background-color: #5ca84d;

    border: #426d2c solid;
    border-width: 0px 0px 2px;
    border-radius: .2em;

    margin: .5em;
    padding: .5em;
    cursor: pointer;
}
